[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Kivy = "==2.1.0"
Kivy-Garden = "==0.1.4"
kivymd = "==0.104.2"
Pygments = "==2.11.2"
docutils = "==0.18.1"
kivy.deps.angle = "==0.3.2"
kivy.deps.glew = "==0.3.1"
kivy.deps.sdl2 = "==0.4.5"
pypiwin32 = "==223"

[dev-packages]
pytest = "==7.0.1"
python-dateutil = "==2.8.2"

[requires]
python_version = "3.8"
